<!-- About info from https://www.tropicalsmoothie.com/about-us -->

<img class="picture" src="assets/images/exterior.jpg"/>

<hr/>

<div class="blockText">
  <h3>
    Eat Better. Feel Better.
  </h3>
  <p>
  	The Juice Caboose menu boasts bold, flavorful food and smoothies with a healthy appeal, all made to order from the freshest ingredients. We find that superior, simple ingredients including real fruit and veggies set our smoothies apart from the others.
  </p>
  <p>
    And our toasted wraps, sandwiches, flatbreads and gourmet salads are made fresh with high quality meats and cheeses and topped with fresh produce and flavorful sauces.
    Combine that with a fun atmosphere and unparalleled hospitality and you can see why people return again and again for The Juice Caboose experience.
  </p>
</div>

<br/>

<div class="blockText">
  <h3>
    16 Years of Happy Customers
  </h3>
  <p>
    We’ve been making and serving fresh food for as long as we can remember. Even before we opened our first cafe, we served fresh fruit smoothies from a stand on a Florida beach. We’ve come a long way since then but we’ve remained true to our early days of pure, wholesome food.
  </p>
  <p>
    In 1997, we opened our first restaurant in Tallahassee, Florida to give our customers a place to sit and relax while enjoying our fruit smoothies. By 1999, we added a wide range of wholesome food options to our menu that perfectly complemented our smoothies. One year later, we officially established The Juice Caboose name. 
  </p>
  <p>
    In 2007, we celebrated our 10 year anniversary and started our own holiday, National Flip Flop Day®. On National Flip Flop Day®, we raise funds to benefit Camp Sunshine and customers who visit our cafes wearing flip flops between 2pm - 7pm receive a FREE smoothie. It's a great day to bring on the sunshine in the lives of children with life-threatening illnesses and their families. 
  </p>
  <p>
    Today, customers continue to fall in love with The Juice Caboose as a destination for flavor. We’ve always been guided by this one simple belief: when you eat better, you feel better and when you feel better - all is better. It's why our mission is to inspire a healthier lifestyle by serving amazing food and smoothies with a bit of juice fun.
  </p>
</div>

<br/>

<div class="blockText">
  <h3>
    Inspiring a Healthier Lifestyle by Giving Back
  </h3>
  <p>
    Real fruit smoothies, toasted sandwiches, wraps, flatbreads and fresh salads are one thing, but there’s another addition that we’re even more proud of – National Flip Flop Day®. Our customers have helped us raise over $2 million for Camp Sunshine, our national charity partner, in its effort to provide memorable experiences to children with life-threatening illnesses and their families.
  </p>
  <p>
    Our thanks go out to the thousands of customers who come through our doors each year proudly wearing flip flops as well as our wonderful franchisees and their employees who are eager to make a difference for these deserving families. 
  </p>
</div>
