<div class="opening-times">

  <ul class="location">
    <li>
        <p>
          312.763.2698
          <br/><br/>
          info@thejuicecaboose.com
          <br/><br/>
          24 E Pearson St
          <br/>
          Chicago, IL 60611
        </p>
    </li>
    <li>
      <!-- <img src="assets\images\map.jpg" /> -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.7733244218857!2d-87.62942198514274!3d41.897731772165365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fd3525f84a149%3A0x8a653f59ce44fad8!2s24+E+Pearson+St%2C+Chicago%2C+IL+60611!5e0!3m2!1sen!2sus!4v1449263372789" width="400" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
    </li>
  </ul>

  <hr/>

  <h3>
    Hours:
  </h3>

  <p id="hours">
    Monday-Friday: 10am - 9pm 
    <br/> 
    Saturday: 10am - 11pm 
    <br/>
    Sunday:  10am - 8pm 
  </p>

</div>
