<!-- Works Cited -->
<!-- http://www.yelp.com/biz/loop-juice-chicago-2?osq=smoothie -->

<div class="blockText" id="press">
	<p>
		I stayed late in the city one day, but got to The Juice Caboose just in time before they closed for the night. It was good news for me, because I'd get their breakfast smoothie again.
		<br/><br/>
		Blending granola into a smoothie sounds like a bad idea, but fortunately I wasn't ingesting little granola bits with every sip. The smoothie as a whole was smooth, and a perfect blend of peanut butter, bananas, honey and granola. It was sweet, but not too sweet, and probably better suited for the beginning of your day rather than the end, but YOLO.
		<br/><br/>
		This is the second smoothie I've had here, and both have tasted fresh, balanced and smooth. I'll keep it in mind to visit The Juice Caboose more frequently.
	</p>
	<h3>- Lisa Anderson, New York Times.</h3>
	<br/>
	
	<p>
		THE JUICE CABOOSE IS. THE. BEST!!!!! I had the breakfast smoothie, and it was excellent! Best smoothie I've had in Chicago. You have to go here! Plus, the guy making the smoothies was awesome! He was like a Smoothie Master or something! He knew exactly how many ice cubes to put in to the smoothie to make it as delicious as possible!
		<br/><br/>
		I needed something sweet, but I didn't want to eat anything processed or artificial. You can watch the Smoothie Master put fresh, whole fruits into your smoothie. Ah. I can't even articulate, I'm so happy. Plus, you can just get a smoothie for lunch; the breakfast smoothie really is breakfast! I'm all full now! And I only got a small!
		<br/><br/>
		This place is great. If you want something delicious, filling, all-natural, and fairly priced, it is imperative that you visit The Juice Caboose.
	</p>
	<h3>- Tom Brady, Chicago Tribune</h3>
	<br/>

	<p>
		Amazingly delicious juices, lots of options, lots of vegetables and very modestly priced. And unlike most juice bars, they don't use fruits excessively and they use plenty of leafy green vegetables.
	</p>
	<h3>- Amanda Daily, USA Today</h3>
	<br/>

	<p>
		Fast, friendly, and fresh. The Green juice was delicious and I would definitely come back. All their fruits and veggies are organized nicely and on display, ready to be put in a blender. Great place for a quick breakfast or mid-day snack. They also offer juice cleanses!
	</p>
	<h3>- Sombody Davis, Food Network Magazine</h3>



</div>
