<hr/>

<p>
	&copy 2015 The Juice Caboose
</p>

<p>
	Desgin by Chicago Fire Resturant
</p>

<div id="social" >
	<center>
		<a href="https://www.instagram.com/?hl=en">
			<img class="social" id="instagram" alt="instagram" src="assets/images/instagram.png"/>
		</a>
		<a href="https://www.facebook.com/">
			<img class="social" id="facebook" alt="facebook" src="assets/images/facebook.png"/>
		</a>
		<a href="https://twitter.com/?lang=en">
			<img class="social" id="twitter" alt="twitter" src="assets/images/twitter.png"/>
		</a>
	</center>
</div>

</br>
</br>
