<nav>
		<label for="drop" class="toggle">MENU</label>
		<input type="checkbox" id="drop" />
  <ul class="menu">
		<li><a id="aNav" href="views/menu.html">FOOD</a></li>
		<li><a id="aNav" href="views/about.html">About</a></li>
		<li><a id="aNav" href="views/gallery.html">Gallery</a></li>
		<li><a id="aNav" href="views/reservation.html">Reservations</a></li>
		<li><a id="aNav" href="views/hoursLocation.html">Hours & Location</a></li>
		<li><a id="aNav" href="views/press.html">Press</a></li>	
	</ul>
</nav>
